
.search{
    width: 200px;
    height: 300px
}
/* .case{
    width: 150px;
    height: 250px
} */
#map{
    width: 660px;
    height: 600px
}
.chart{
    width: 250px;
    height: 250px
}

.container .box_header
{
    position: fixed;
    width: 1300px;
    height: 70px;
    background:#000;
    left: 0px;
    top:0px;
    z-index:-1;
    
}
/* 
.container .box
{
    position: fixed;
    width: 200px;
    height: 170px;
    background:rgb(49, 46, 46);
    left: 40px;
    top:150px;
    
} */

.container .box_1
{
    Position: fixed;
    width: 200px;
    height: 200px;
    background: rgb(49, 46, 46);
    left: 40px;
    top: 250px;
}

.container .box_2
{
    Position: fixed;
    width: 200px;
    height: 170px;
    background: rgb(49, 46, 46);
    left: 40px;
    top: 535px;
}

.container .box_3
{
    Position: fixed;
    width: 266px;
    height: 200px;
    background: #000;
    right: 66px;
    top: 100px;
}

.video
{
    position: fixed;
    top: 327px;
}

.container .box_4
{
    Position: fixed;
    width: 266px;
    height: 150px;
    background: #000;
    right: 66px;
    top: 555px;
}